{% extends 'base.html' %}
{% load static %}
    {% block content%}
        
        
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>About Us</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">About Us</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        

        <!-- About Start -->
        <div class="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img" data-parallax="scroll" data-image-src="{% static 'img/about.jpg' %}"></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section-header">
                            <p>Learn About Us</p>
                            <h2>Worldwide non-profit charity organization</h2>
                        </div>
                        <div class="about-tab">
                            <ul class="nav nav-pills nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#tab-content-1">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#tab-content-2">Mission</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#tab-content-3">Vision</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="tab-content-1" class="container tab-pane active">
                                    We believe in creating a world where everyone has the opportunity to thrive. Founded on principles of compassion, integrity, and inclusivity, we are a global non-profit organization dedicated to driving positive change across communities most in need. Our mission is to empower people by providing access to essential resources like education, healthcare, and safe living environments, while promoting sustainable development for long-term impact.
                                </div>
                                <div id="tab-content-2" class="container tab-pane fade">
                                    Our mission is to create lasting, sustainable change by empowering communities, reducing inequality, and fostering hope across every corner of the globe. We are committed to providing essential resources, promoting education, and ensuring access to basic human rights for all.We strive to improve lives and inspire progress in under-resourced communities worldwide. Through compassion, collaboration, and innovation, we address critical issues such as poverty, healthcare and education.
                                </div>
                                <div id="tab-content-3" class="container tab-pane fade">
                                    A world where every individual, regardless of their background, has access to the basic resources and opportunities needed to thrive—where poverty, hunger, and inequality are overcome by collective compassion and sustainable support. We envision empowered communities working hand in hand to create lasting, positive change for future generations, rooted in dignity, resilience, and hope for all.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        
        
        <!-- Facts Start -->
        <div class="facts" data-parallax="scroll" data-image-src="{% static 'img/facts.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="flaticon-home"></i>
                            <div class="facts-text">
                                <h3 class="facts-plus" data-toggle="counter-up">90</h3>
                                <p>Countries</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="flaticon-charity"></i>
                            <div class="facts-text">
                                <h3 class="facts-plus" data-toggle="counter-up">0</h3>
                                <p>Volunteers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="flaticon-kindness"></i>
                            <div class="facts-text">
                                <h3 class="facts-dollar" data-toggle="counter-up">10000</h3>
                                <p>Our Goal</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="flaticon-donation"></i>
                            <div class="facts-text">
                                <h3 class="facts-dollar" data-toggle="counter-up">0</h3>
                                <p>Raised</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Facts End -->
                
        <!-- Testimonial Start -->
        <div class="testimonial">
            <div class="container">
                <div class="section-header text-center">
                    <p>Testimonial</p>
                    <h2>What people are talking about our charity activities</h2>
                </div>
                <div class="owl-carousel testimonials-carousel">
                    <div class="testimonial-item">
                        <div class="testimonial-profile">
                            <img src="{% static 'img/testimonial-1.jpg' %}" alt="Image">
                            <div class="testimonial-name">
                                <h3>David White</h3>
                                <p>Business Man</p>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                This charity is truly inspiring! They put every single dollar directly into their programs, and you can see the real impact they're having.
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-profile">
                            <img src="{% static 'img/testimonial-2.jpg' %}" alt="Image">
                            <div class="testimonial-name">
                                <h3>Laura Smith</h3>
                                <p>Nurse</p>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                I love supporting this organization because of how transparent they are. Even though they’re non-profitable, they work so efficiently and have a clear passion for their mission.
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-profile">
                            <img src="{% static 'img/testimonial-3.jpg' %}" alt="Image">
                            <div class="testimonial-name">
                                <h3>Ben Silva</h3>
                                <p>Lawyer</p>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                I have never seen a charity like this one! Their commitment to being non-profitable means they’re all about the cause, not the money.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->


  

    
    {% endblock %}
