{% extends 'base.html' %}
{% load static %}
        {% block content %}
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Ask for Donation Now</h2>
                    </div>
                    <div class="col-12">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="{% url 'donationpage' %}">Donate</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        <div class="container">
            <div class="donate" data-parallax="scroll" data-image-src="{% static 'img/donate.jpg' %}">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="donate-content">
                            <div class="section-header">
                                <p>Create Campaign</p>
                                <h2>Find millions of volunteers to help you reach your Goal</h2>
                            </div>
                            <div class="donate-text">
                                <p>
                                    Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non. Aliquam metus tortor, auctor id gravida, viverra quis sem. Curabitur non nisl nec nisi maximus. Aenean convallis porttitor. Aliquam interdum at lacus non blandit.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="donate-form">
                            <form method="post" action="{% url 'campaign' %}" enctype="multipart/form-data">
                                {% if messages %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    
                                        {% for message in messages %}
                                            {{ message }}
                                        {% endfor %}
                                
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                                {% csrf_token %}
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="formFile" name="image">
                                    <label class="custom-file-label" for="formFile">Proof of campaign</label>
                                </div><br><br>
                                                   
                                <div class="control-group">
                                    <label class="form-label">Title</label>
                                    <input type="text" class="form-control"placeholder="Add Title" required="required" name="title" />
                                </div>
                                <div class="control-group">
                                    <label class="form-label">Phone Number</label>
                                    <input type="text" class="form-control" placeholder="+(234)9078901345" name="phone_number" required="required" />
                                </div>
                                <div class="control-group">
                                    <label class="form-label">Goals</label>
                                    <input type="number" class="form-control" placeholder="10000" required="required" name="goals" />
                                </div>
                    
                                <div class="control-group">
                                    <label class="form-label">Campaign Purpose</label>
                                   <select class="form-control" aria-label="Default select example" name="campaign_purpose">   
                                        <option selected>select</option>
                                        <option value="Child Education" style="background-color: black;">Child Education</option>
                                        <option value="Child Healthcare" style="background-color: black;" >Child Healthcare</option>
                            
                                      </select>
                                </div>
                                <div>
                                    <button class="btn btn-custom" type="submit">Create Campaign</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('#formFile').on('change', function(){
                var filename = $
            })
        </script>
        {% endblock %}